body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1; /* Allows the container to grow and fill the remaining space */
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #8200E6;
    color: white;
    text-align: center;
    padding: 9px 0;
    font-size: 20px;
}

.header h1 {
    margin: 1;
    font-size: 24px;
}

.content {
    flex: 1; /* Content will grow to fill available space */
    padding-bottom: 60px;
    display: flex;
}

.left-panel {
    width: 40%;
    background-color: #00C1DE;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1px;
}

.left-panel img, .left-panel iframe {
    max-width: 100%;
    max-height: 100%;
}

.right-panel {
    width: 70%;
    background-color: #00E4D0;
    padding: 20px;
    box-sizing: border-box;
}

.jury-select, .group-select {
    margin-bottom: 20px;
}

.jury-select label, .group-select label {
    font-weight: bold;
}

.jury-select select, .group-select select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.criteria {
    margin-bottom: 20px;
}

.criteria label {
    font-weight: bold;
    display: block;
}

.radio-group {
    margin-top: 10px;
}

.radio-group input {
    margin-right: 5px;
}

.total-mark {
    margin-top: 20px;
}

.total-mark label {
    font-weight: bold;
}

.total-mark input {
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer {
    background-color: #8200E6;
    color: white;
    text-align: center;
    padding: 9px 0;
    font-size: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Pushes the footer to the bottom if content is short */
}

/* Button styles */
.form-actions button[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.form-actions button[type="reset"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-actions button[type="submit"]:hover,
.form-actions button[type="reset"]:hover {
    opacity: 0.8;
}
